<div class="footer">
    <div>
        <p class="text-center text-muted">© Copyright Bryan Doyle - 2016</p>
        <p class="text-center text-muted"><a href="mailto:bdoyle@turnkey-technology.com?subject=GSO Arrangements">Contact Me</a></p>
    </div>
</div>
