<%layout('layout') -%>

    <div class="header">
        <h1>GSO Arrangements</h1>
        <hr>
        <h2 class="lead">Tracking arrangements for Video Game Orchestras</h2>
        <p>Please Sign Up or Log In</p>
    </div>
    
    <script type="text/javascript">
            $(document).ready(function() {
                $('#home').addClass("active");
            });
    </script>