<%layout('layout') -%>

    <div class="container-fluid header">
        <h1>GSO Arrangements</h1>
        <hr>
        <h2 class="lead">Tracking arrangements for Video Game Orchestras</h2>
        <div>
            <p class="container-fluid header">Thank you for visiting the GSO Arrangements website. I created this tool to help orchestras coordinate and share arrangements.
            <br>This tool will be continuously developed, and I appreciate all feedback.
            <br>We are still working on some tools for automation, but in the meantime, please contact me for any of the following:
            </p>
            <ul>
                <li>Duplicate user</li>
                <li>Claim an arrangement</li>
                <li>Make an edit to a preloaded arrangement</li>
                <li>Comments and suggestions</li>
            </ul>
            <p>Feel free to reach out to me via <a href="mailto:bdoyle@turnkey-technology.com?subject=GSO Arrangements">email</a>.
            <br>Thanks in advance for your support, and I hope you find the tool useful!
            <br>Please Sign Up or Log In to get started
            </p>
        </div>
    </div>
    
    <script type="text/javascript">
            $(document).ready(function() {
                $('#home').addClass("active");
            });
    </script>