<%layout('layout') -%>    
    <body ng-app="nodeCrud" ng-controller="browseArrangementsController" style="width:100%">
        <div style="width:100%">
            <div>
                <h2 class="header">Arrangements</h2>
            </div>
            <div class="arrangement-list container-fluid" ><!--style="float:left; width:48%; max-width: 48%">-->
                <table selection-mode="SingleRow" selected-items="selectedSong"  items="arrangementData" page-items="7" tr-ng-grid="">
                    <thead>
                        <tr>
                            <th field-name="title" display-name="Title"></th>
                            <th field-name="name" display-name="Arranger"></th>
                            <th field-name="game_title" display-name="Game"></th>
                            <th field-name="orc" display-name="Orchestra"></th>
                            <th field-name="duration" display-name="Duration (seconds)"display-format="date:'m:ss'"></th>
                            <th field-name="date" display-name="Date" display-format="date:'MMM yyyy'"></th>
                            
                            
                            <!--<th field-name="avg_rating" display-name="Rating"></th>
                            <th field-name="avg_difficulty" display-name="Difficulty"></th>-->
                        </tr>
                    </thead>
                </table>
            </div>
            <br>
        </div>
    </div>

    <script type="text/javascript">
            $(document).ready(function() {
                $('#arrangements').addClass("active");
            });
    </script>
