<%layout('layout') -%>
    <script type="text/javascript" src="/javascripts/ng-file-upload.min.js"></script>
    <script type="text/javascript" src="/javascripts/ng-file-upload-shim.min.js"></script>
    <div ng-app="fileupload">
        <div>
            <h1 class="header">Add Song CSV</h1>
        </div>
        <div>
            <form ng-controller="MyCtrl as up" name="up.upload_form">
                <!--Upload a CSV of songs -->
                <input
                    class="form-control"
                    type="file" 
                    ngf-select 
                    ng-model="up.file" 
                    name="file"
                    ngf-pattern="'.csv'"
                    accept=".csv" 
                    ngf-max-size="20MB" 
                    />
                 <i ng-show="up.upload_form.file.$error.required">*required</i><br>
                 <i ng-show="up.upload_form.file.$error.maxSize">File too large 
                 {{up.file.size / 1000000|number:1}}MB: max 20M</i>
                 <button class="btn btn-primary" type="submit" ng-click="up.submit()">submit</button>
                 <p>{{up.progress}}</p>
            </form>
            <br>
        </div>
    </div>

    <script type="text/javascript">
            $(document).ready(function() {
                $('#addsong_csv').addClass("active");
            });
    </script>